header {
    color: orange;
    text-align: center;
    font-size: 30px;
}

/* navigatiebalk */

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color:black;
    overflow: hidden;
    border: solid 5px rgb(255,165,0)
}

nav ul li {
    float: left;
    width: 350px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;   
    font-size: 20px;
}

/* teksten enzo */

@font-face {
    font-family: rubik-italic;
    src: url("font/Rubik-Italic.ttf");
}
body {
    background-image: url("/website/afbeeldingen/achtergrond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.pagina {
    font-size: 20px;
    opacity: 0.5;
}

.begin {
    width: 800px;
    margin: auto;
    /*height: 100px;*/
    background-color: red;
    text-align: center;
}

.schieten {
    height: 400px;
    background-color: orange;
}

.dribbelen {
    height: 700px;
    background-color: yellow;
}

.footer {
    height: 1000px;
    background-color: green;
    <p class="icons">
    <a class="quinten-man" href="https://www.instagram.com/quinten_man_/"><i class="fab fa-instagram"></i></a>
}


a.quinten-man {
    font-size: 200px;
    text-decoration: none;
    color: white;
*{
    font-family: rubik-italic;
}