header {
    color: orange;
    text-align: center;
    font-size: 30px;
    margin: auto;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    padding: 10;
    background-color:black;
    overflow: hidden;
    border: solid 3px rgb(255,165,0)
}

nav ul li {
    float: left;
    width: 120px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;   
    font-size: 20px;
}

li a:hover {
  background-color: orange;
}

/* font */
@font-face {
    font-family: "Lato-Light";
    src: url("font/Lato-Light.ttf");
}

body {
    width: 900px;
    margin: auto;
    font-family: "Lato-Light";
    background-color: black;
}

.titels {
    font-weight: bold;
    text-align: center;
}

.pagina {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.begin {
    width: 900px;
    margin-top: 50px;
    margin-bottom: auto;
    text-align: center;
}

.schieten {
    width: 500px;
    margin: 90px;
  
}

.dribbelen {
    margin: 20px;
    width: 500px;
}

.footer {
  
}

hr { 
    display: block;
    background-color: orange;
    margin: 15px;
} 

/* afbeeldingen */

.shooting-form {
    width: 500px;
    height: 1000px;
}