/* titel */
header {
    color: orange;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* navigatie */
nav ul {
    list-style-type: none;
    padding: 10;
    background-color:black;
    overflow: hidden;
    border: solid 3px rgb(255,165,0) 
}

nav ul li {
    float: left;
    width: 120px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;   
    font-size: 20px;
}

li a:hover {
  background-color: orange;
}

/* achtergrond kleuren */
@keyframes bgcolor {
    0% {
        background-color: black;
    }

    100% {
        background-color: rgb(32, 36, 33);
    }
}

body {
    width: 900px;
    margin: auto;
    font-family: "Lato-Light";
    -webkit-animation: bgcolor 50s infinite;
    animation: bgcolor 40s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    font-size: 20px;
    color: white;
    cursor: url(http://cur.cursors-4u.net/sports/spo-1/spo52.cur), auto;
}

.groep-titel {
    text-align: center;
    margin-top: 30px;
}

.begin {
    width: 900px;
    text-align: center;
}

.sub-titel {
    font-weight: bold;
    margin-top: 19px;
    font-size: 25px;
    color: orange;
}

article {
    width: 600px;
    margin: 5px;
    text-align: left;
}

.alinea-nba {
    width: 500px;
    margin-top: 5px;
    text-align: left;
}

/* feitjes */
.feitjes {
    width: 250px;
    text-align: center
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex2 {
    margin-left: 50px;
    margin-top: 25px;
}

figure {
    margin-top: 15px;
}

div ul {
    margin: 20px;
    list-style-position: outside 
}

div li {
    margin: 10px;
}

/* footer */
.sitename {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.facebook-button a:link, .twitter-button a:link, .insta-button a:link {
    display: block;
    color: white;
    padding: 17px;
    text-decoration: none;
}

.facebook-button:active, .twitter-button:active, .insta-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

.insta-button {
    background-image: linear-gradient(90deg, #F18226 , #CA0EB3);
    margin: 30px;
    border-radius: 50%;
}

.facebook-button {
    background-color: rgb(28, 81, 206 ); 
    margin: 30px;
    border-radius: 50%;
}

.twitter-button {
    background-color: aqua;
    margin: 30px;
    border-radius: 50%;
}

/* horizontale lijn */
hr { 
    display: block;
    background-color: orange;
    margin: 15px;
}

/* font */
@font-face {
    font-family: "Lato-Light";
    src: url("font/Lato-Light.ttf");
}

/* positie */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


